// Please delete before starting
fon = #666600;
topic = #EEEED4;
item = whitesmoke;

body.cool
	display: flex;
	flex-wrap: wrap;
	font-family: Aboreto;
	background-color: fon;
	p
		a
			img
				&:hover
					background: LightGrey;
					width: 210px;
					height:210px;

body
	font-family: Aboreto;
	display: flex-inline;
	background-color: fon;
	p
		a
			img
				&:hover
					background: LightGrey;
					width: 210px;
					height:210px;

header
	width: 100%;
	background-color: fon;
	color:black;
	justify-content: center;

header
	h2
		display: inline-block;
		padding : 10;
		margin : 0 2;
		a
			text-decoration: none !important;
			color: red;
			margin: 5;
			padding: 5;
			&:hover
				text-decoration: overline !important;
				font-size: 1.1em;

header
	.item
		color: red;
		background-color: item;


header
	.topic
		background-color : topic;

@media (max-width: 600px)
	header
		h2
			font-size: 0.9em;
			a
				margin: 2px;
	article
		width:100%;
		p
			font-size: 0.8em;
			strong
				font-size: 0.5em;
	p
		img
			display: block;
	img.naruto
		width: 350px;
		height:300px;
	details
		font-size: 0.7em;
	table
		font-size: 0.7em;

arcticle
	width: 70%;
	background-color: fon;
	img
		float: left;
		margin: 0 5;


img
	display: inline-block;
	width: 200px;
	min-width: 200px;
	height: 200px;
	min-height: 200px;
	margin: 10px;

.naruto
	display: flex;
	float: center;
	width: 450px;
	min-width: 200px;
	height: 400px;
	min-height: 200px;
	margin: 5px;

details
	summary
		margin: 5px;

.new
	min-width: 400px;



