<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		title Наруто
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet")
	body(class="cool")
		header
			h2(class="item")
				a(href="index.html") Лучшие аниме
			h2(class="item topic")
				a(href="narutoo.html") Наруто
			h2(class="item")
				a(href="list.html") Список аниме
		article
			p
				img(class="naruto" src="https://coolsen.ru/wp-content/uploads/2021/12/103-20211209_001243.png")
			p(class="nar") Однажды демон напал на деревню, в которой родился мальчик Наруто. Чтобы остановить демона,
				br
				|глава поселения запечатал его внутри Наруто, но сам при этом погиб. Прошли годы. Наруто вырос,
				br 
				|став гиперактивным и очень тупым ниндзя. Он всё ещё живёт в родной деревне, где его не особо
				br 
				|любят и стараются избегать.